/*
Theme Name:   RW Social Learner
Theme URI: 	  https://github.com/rpi-virtuell/rw-social-learner
Description:  RPI Virtuel Theme, customized on Social Learner based Theme
Author:       BuddyBoss.com
Author URI:   http://buddyboss.com/
Contributer:  www.rpi-virtuell.de
Template:     boss
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  social-learner
Version:      1.2.1
GitHub Theme URI: https://github.com/rpi-virtuell/rw-social-learner
GitHub Branch:  master

*/

/*


-- Updating --

Before updating this theme, make sure to BACKUP any changes first.


-- Stylesheet locations --

Add your own customizations into /css/custom.css in this child theme.

Parent styles are called from /buddyboss-inc/theme-functions.php in the 
parent theme and are located in /boss/css/ in the parent theme.


--- If you are editing CSS via the WordPress admin, do the following ---

1. Install the plugin WP Editor: http://wordpress.org/plugins/wp-editor/
2. Navigate to Appearance > Theme Editor in the WordPress admin.
3. Navigate into the /css/ folder of this theme to edit custom.css.


--- The styles are loaded in the following order ---

-- PARENT THEME --

1. buddyboss-slides.css 			Boss homepage slider
2. main-global.css 					Global theme styles
3. main-desktop.css 				Desktop-only theme styles
4. main-mobile.css					Mobile-only theme styles

-- CHILD THEME --

5. main.css 						Social Learner theme styles
6. custom.css 						Your own custom styles

The later on a stylesheet is loaded, the higher precedent it gets.
So for example, if you define a CSS element in custom.css that has already
been defined in main-global.css, the version in custom.css will be used.

Each stylesheet includes a table of contents to help you navigate
through it. You will notice that many of them include a section with
media queries. Media queries allow us to detect a browser's screen
size, and load specific styles only if the screen is larger or smaller
than that particular size. This allows us to define a large set of
global styles, and then specific styles for phones, tablets,
and desktops & laptops - just based on the predicted screen size
of these devices. That's boss!


*/

.SumoSelect {
    float: right;

}

.no-hidden li {
    display: inline;
}

html.js.csstransforms.csstransforms3d.csstransitions body.activity.bp-user.my-activity.my-account.just-me.buddypress.bbp-user-page.single.singular.bbpress.page.page-id-0.page-parent.page-template-default.logged-in.admin-bar.role-admin.has-activity.is-desktop.bp-active.left-menu-open.buddyboss-wall-active.buddyboss-media-has-photos-type.social-learner.js.customize-support div#panels.with-adminbar div#right-panel div#right-panel-inner div#main-wrap div#inner-wrap div#page.hfeed.site div#main.wrapper div.page-full-width.network-profile.my-profile div#primary.site-content div#content article div.entry-buddypress-content div#buddypress div.full-width div#item-main-content div#item-body div#subnav.no-ajax.no-hidden ul.no-hidden li#just-me-personal-li
{
    display: inline !important;
}
html.js.csstransforms.csstransforms3d.csstransitions body.activity.bp-user.my-activity.my-account.just-me.buddypress.bbp-user-page.single.singular.bbpress.page.page-id-0.page-parent.page-template-default.logged-in.admin-bar.role-admin.has-activity.is-desktop.bp-active.left-menu-open.buddyboss-wall-active.buddyboss-media-has-photos-type.social-learner.js.customize-support div#panels.with-adminbar div#right-panel div#right-panel-inner div#main-wrap div#inner-wrap div#page.hfeed.site div#main.wrapper div.page-full-width.network-profile.my-profile div#primary.site-content div#content article div.entry-buddypress-content div#buddypress div.full-width div#item-main-content div#item-body div#subnav.no-ajax.no-hidden ul.no-hidden li#news-feed-personal-li
{
    display: inline !important;
}
html.js.csstransforms.csstransforms3d.csstransitions body.activity.bp-user.my-activity.my-account.just-me.buddypress.bbp-user-page.single.singular.bbpress.page.page-id-0.page-parent.page-template-default.logged-in.admin-bar.role-admin.has-activity.is-desktop.bp-active.left-menu-open.buddyboss-wall-active.buddyboss-media-has-photos-type.social-learner.js.customize-support div#panels.with-adminbar div#right-panel div#right-panel-inner div#main-wrap div#inner-wrap div#page.hfeed.site div#main.wrapper div.page-full-width.network-profile.my-profile div#primary.site-content div#content article div.entry-buddypress-content div#buddypress div.full-width div#item-main-content div#item-body div#subnav.no-ajax.no-hidden ul.no-hidden li#favorites-personal-li
{
    display: inline !important;
}
html.js.csstransforms.csstransforms3d.csstransitions body.activity.bp-user.my-activity.my-account.just-me.buddypress.bbp-user-page.single.singular.bbpress.page.page-id-0.page-parent.page-template-default.logged-in.admin-bar.role-admin.has-activity.is-desktop.bp-active.left-menu-open.buddyboss-wall-active.buddyboss-media-has-photos-type.social-learner.js.customize-support div#panels.with-adminbar div#right-panel div#right-panel-inner div#main-wrap div#inner-wrap div#page.hfeed.site div#main.wrapper div.page-full-width.network-profile.my-profile div#primary.site-content div#content article div.entry-buddypress-content div#buddypress div.full-width div#item-main-content div#item-body div#subnav.no-ajax.no-hidden ul.no-hidden li#activity-filter-select
{
    display: inline !important;
}